# Local files for custom configurations
*.local.*

# Devenv
.devenv*
devenv.local.nix

# Direnv
.direnv

# Pre-commit
.pre-commit-config.yaml

# Gitlint
.gitlint

# Lake
**/.lake

# Lean documentation build directory
docbuild
